:root {
  --clr-bg: hsl(0, 0%, 15%);
  --clr-bg-accent: hsl(0, 0%, 10%);
  --clr-bg-dark: hsl(0, 0%, 2%);
  --clr-bg-light: hsl(0, 0%, 75%);

  --clr-bg-green: hsl(135, 50%, 20%);
  --clr-bg-yellow: hsl(60, 50%, 20%);
  --clr-bg-red: hsl(0, 50%, 20%);

  
  --clr-font: hsl(0, 0%, 100%);
  --clr-font-accent: hsl(0, 0%, 75%);
  --clr-font-dark: hsl(0, 0%, 10%);
  --clr-font-green: hsl(135, 60%, 60%);
  --clr-font-yellow: hsl(60, 60%, 60%);
  --clr-font-red: hsl(0, 60%, 60%);
  

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-bg);
    color: var(--clr-font);
}

#svelte {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
}

button,
a {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border: none;
}

*:disabled {
    cursor: not-allowed;
    opacity: 50%;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}