:root {
	--primary-color: #2a6336;
	--primary-hover-color: #3434e0;
	--primary-font-color: black;
	--alt-font-color: white;
}
  
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	margin: 0;
}

a:hover {
	text-decoration: underline;
}

button, .link-button {
	display: inline-block;
	font-family: inherit;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 1rem;
	padding: .5em 1.5em;
	border: none;
	border-radius: .3em;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--alt-font-color);
	transition: box-shadow .2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.link-button:hover {
	text-decoration: none;
}